DATABASE_URL=postgresql://postgres.llacejoelvequymkahsd:ISSAMRE1996XYZ@aws-1-eu-west-3.pooler.supabase.com:6543/postgres?pgbouncer=true
NEXTAUTH_SECRET=76a52305b4aa0fe594ec417f73314a1a
NEXTAUTH_URL=https://covoiturage-tn.vercel.app